In [46]:
import pandas as pd
from pandas import DataFrame

import os

In [47]:
use_cols = ['Archive_Date', 'Speciality', 'Case_Type', 'Adult_Child', 'Age_Profile', 'Time_Bands', 'Total']

In [8]:
# df1 = pd.read_csv('Data\\Inpatient\\IN_WL 2018.csv')
# df2 = pd.read_csv('Data\\Outpatient\\Op_WL 2018.csv')

In [48]:
# Directory path
inpatient_directory: str = 'Data\\Inpatient'
outpatient_directory: str = 'Data\\Outpatient'

inpatient_files: list[str] = [os.path.join(inpatient_directory, file) for file in os.listdir(inpatient_directory)]
outpatient_files: list[str] = [os.path.join(outpatient_directory, file) for file in os.listdir(outpatient_directory)]
inpatient_files

['Data\\Inpatient\\IN_WL 2018.csv',
 'Data\\Inpatient\\IN_WL 2019.csv',
 'Data\\Inpatient\\IN_WL 2020.csv',
 'Data\\Inpatient\\IN_WL 2021.csv']

In [49]:
def read_inpatient_files(file: str, use_cols:list[str]) -> DataFrame:
    df: DataFrame = pd.read_csv(file)
    df.rename(columns={'Specialty_Name': 'Speciality'}, inplace=True)
    return df[use_cols]

def read_outpatient_files(file: str, use_cols:list[str]) -> DataFrame:
    df: DataFrame = pd.read_csv(file)
    df['Case_Type'] = 'Outpatient'
    return df[use_cols]
    
def stack_dfs(df1: DataFrame, df2: DataFrame) -> DataFrame:
    return pd.concat([df1, df2], ignore_index=True)

In [68]:
inpatient_df = pd.DataFrame(columns=use_cols)
for file in inpatient_files:
    file_df = read_inpatient_files(file=file, use_cols=use_cols)
    inpatient_df = stack_dfs(df1=inpatient_df, df2=file_df)
    
inpatient_df

,Archive_Date,Speciality,Case_Type,Adult_Child,Age_Profile,Time_Bands,Total
0,31-01-2018,Small Volume Specialities,Inpatient,Child,0-15,6-9 Months,1
1,31-01-2018,Small Volume Specialities,Inpatient,Child,16-64,9-12 Months,1
2,31-01-2018,Endocrinology,Day Case,Child,0-15,3-6 Months,1
3,31-01-2018,Endocrinology,Day Case,Child,0-15,12-15 Months,1
4,31-01-2018,Otolaryngology (ENT),Day Case,Child,0-15,0-3 Months,14
...,...,...,...,...,...,...,...
182131,31-03-2021,Pain Relief,Day Case,Adult,65+,9-12 Months,10
182132,31-03-2021,Pain Relief,Day Case,Adult,65+,12-15 Months,34
182133,31-03-2021,Pain Relief,Day Case,Adult,65+,15-18 Months,33
182134,31-03-2021,Pain Relief,Day Case,Adult,65+,18+ Months,37
182135,31-03-2021,Pain Relief,Inpatient,Adult,16-64,15-18 Months,1

In [69]:
outpatient_df = pd.DataFrame(columns=use_cols)
for file in outpatient_files:
    file_df = read_outpatient_files(file=file, use_cols=use_cols)
    outpatient_df = stack_dfs(df1=outpatient_df, df2=file_df)
outpatient_df

,Archive_Date,Speciality,Case_Type,Adult_Child,Age_Profile,Time_Bands,Total
0,31-01-2018,Cardiology,Outpatient,Child,0-15,0-3 Months,167
1,31-01-2018,Cardiology,Outpatient,Child,0-15,3-6 Months,157
2,31-01-2018,Cardiology,Outpatient,Child,0-15,6-9 Months,106
3,31-01-2018,Cardiology,Outpatient,Child,0-15,9-12 Months,85
4,31-01-2018,Cardiology,Outpatient,Child,0-15,12-15 Months,83
...,...,...,...,...,...,...,...
270978,31-03-2021,Urology,Outpatient,Adult,16-64,18 Months +,18
270979,31-03-2021,Urology,Outpatient,Adult,65+,3-6 Months,9
270980,31-03-2021,Urology,Outpatient,Adult,65+,6-9 Months,2
270981,31-03-2021,Pain Relief,Outpatient,Adult,65+,15-18 Months,15
270982,31-03-2021,Pain Relief,Outpatient,Adult,65+,18 Months +,136

In [70]:
combined_df = stack_dfs(df1=inpatient_df, df2=outpatient_df)
combined_df.tail()

,Archive_Date,Speciality,Case_Type,Adult_Child,Age_Profile,Time_Bands,Total
453114,31-03-2021,Urology,Outpatient,Adult,16-64,18 Months +,18
453115,31-03-2021,Urology,Outpatient,Adult,65+,3-6 Months,9
453116,31-03-2021,Urology,Outpatient,Adult,65+,6-9 Months,2
453117,31-03-2021,Pain Relief,Outpatient,Adult,65+,15-18 Months,15
453118,31-03-2021,Pain Relief,Outpatient,Adult,65+,18 Months +,136

In [71]:
bad_data: DataFrame = combined_df[combined_df.isnull().any(axis=1) == True]
good_data: DataFrame = combined_df[combined_df.isnull().any(axis=1) == False]

In [72]:
good_data.loc[:, 'Archive_Date (date)'] = pd.to_datetime(good_data['Archive_Date'], format='%d-%m-%Y', dayfirst=True).dt.date
good_data.drop(columns='Archive_Date', inplace=True)
good_data.loc[:, 'Age_Profile'] = good_data['Age_Profile'].str.strip()
good_data.loc[:, 'Time_Bands'] = good_data['Time_Bands'].str.strip().str.extract(r'(\d+-?\d*)', expand=False)
good_data.loc[good_data['Time_Bands'] == '18', 'Time_Bands'] = '18+'
good_data.loc[:, 'Time_Bands'] = good_data['Time_Bands'] + ' months'

C:\Users\Admin\AppData\Local\Temp\ipykernel_5880\3345892723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_data.loc[:, 'Archive_Date (date)'] = pd.to_datetime(good_data['Archive_Date'], format='%d-%m-%Y', dayfirst=True).dt.date
C:\Users\Admin\AppData\Local\Temp\ipykernel_5880\3345892723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_data.drop(columns='Archive_Date', inplace=True)

In [90]:
good_data[(good_data['Adult_Child']=='Child') & (good_data['Age_Profile']=='65+')]

,Speciality,Case_Type,Adult_Child,Age_Profile,Time_Bands,Total,Archive_Date (date)
182345,Clinical (Medical) Genetics,Outpatient,Child,65+,12-15 months,1,2018-01-31
182594,Clinical (Medical) Genetics,Outpatient,Child,65+,0-3 months,4,2018-01-31
182595,Clinical (Medical) Genetics,Outpatient,Child,65+,3-6 months,3,2018-01-31
182596,Clinical (Medical) Genetics,Outpatient,Child,65+,6-9 months,2,2018-01-31
182597,Clinical (Medical) Genetics,Outpatient,Child,65+,9-12 months,1,2018-01-31
...,...,...,...,...,...,...,...
443914,Clinical (Medical) Genetics,Outpatient,Child,65+,18+ months,8,2021-03-31
444006,Clinical (Medical) Genetics,Outpatient,Child,65+,15-18 months,2,2021-02-28
446215,Paed Cardiology,Outpatient,Child,65+,3-6 months,1,2021-03-31
451290,Clinical (Medical) Genetics,Outpatient,Child,65+,3-6 months,2,2021-03-31
451291,Clinical (Medical) Genetics,Outpatient,Child,65+,12-15 months,3,2021-03-31

In [88]:
result = good_data.groupby('Speciality')['Total'].agg(['mean'])

# Get the mean 'Total' value for a specific specialty
specific_speciality = 'Paediatric Dermatology'
specific_mean = result.loc[specific_speciality, 'mean']
specific_mean

167.89167767503304

In [75]:
import psycopg2
try:
    # Establish a connection to the PostgreSQL database
    with psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=urpassword") as conn:
        conn.set_session(autocommit=True)
        # Initialize a cursor
        with conn.cursor() as cur:
            # Your code to execute SQL queries
            try:                
                # Create speciality_dim table
                cur.execute("""
                    CREATE TABLE speciality_dim (
                        speciality VARCHAR(60) PRIMARY KEY,
                        specialty_group VARCHAR(60)
                    );
                """)
                print("Table 'speciality_dim' created successfully!")
                # Create patient_wait_records table
                cur.execute("""
                    CREATE TABLE patient_wait_records (
                        id SERIAL PRIMARY KEY,
                        speciality VARCHAR(60),
                        case_type VARCHAR(60),
                        adult_child VARCHAR(60),
                        age_profile VARCHAR(60),
                        time_bands VARCHAR(60),
                        total INT,
                        archive_date DATE,
                        FOREIGN KEY (speciality) REFERENCES speciality_dim(speciality)
                    );
                """)
                print("Table 'patient_wait_records' created successfully!")
                
            except psycopg2.Error as e:
                print("Error: Unable to create table")
                print(e)

except psycopg2.Error as e:
    # If connection fails, print an error message
    print("Error: Could not make connection to the Postgres database")
    print(e)

Table 'speciality_dim' created successfully!
Table 'patient_wait_records' created successfully!

In [76]:
speciality_dim = pd.read_csv('Data\\Mapping_Specialty.csv')
                        # FOREIGN KEY (Speciality) REFERENCES speciality_dim(Speciality)

In [77]:
from sqlalchemy import create_engine

username = 'username'
password = 'urpassword'
database = 'postgres'

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/{database}')

# Replace 'table_name' with the name you want for your table
table_name1 = 'speciality_dim'
table_name2 = 'patient_wait_list'

# Write the DataFrame to a PostgreSQL database
column_mapping1 = {
    "Speciality": "speciality",
    "Case_Type": "case_type",
    "Adult_Child": "adult_child",
    "Age_Profile": 'age_profile',
    "Time_Bands": "time_bands",
    "Total": "total",
    "Archive_Date (date)": "archive_date"
}
column_mapping2 = {
    "Speciality": "speciality",
    "Specialty Group":"specialty_group"
}
# Write the Speciality dimension DataFrame to a PostgreSQL database
speciality_dim.rename(columns=column_mapping2).to_sql(
    'speciality_dim',
    engine,
    if_exists='append',
    index=False
)

# Write the Good Data DataFrame to a PostgreSQL database with foreign key
good_data.rename(columns=column_mapping1).to_sql(
    'patient_wait_records',
    engine,
    if_exists='append',
    index=False
)

print("Data successfully imported into PostgreSQL server.")

Data successfully imported into PostgreSQL server.